.map-wrapper {
    width: 100%;
    height: 500px;
    position: relative;
    z-index: 10;
}

.map-loading {
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
}

.gm-ui-hover-effect {
    width: 27px !important;
    height: 27px !important;
    background: none !important;
    box-shadow: none !important;
    border: none !important;
    cursor: pointer;
    opacity: 1 !important;
}